@media (max-width: 1199px) {
  body {
    font-size: 9px;
  }
  .container {
    padding: 0px 20px 0px 20px;
  }
  .wrapper .header:before {
    content: "";
  }
  .wrapper .header .header__body {
    height: 120px;
  }
  .wrapper .header .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }
  .wrapper .header .header__body .header__burger {
    display: block;
    position: relative;
    padding: 10px;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
  }
  .wrapper .header .header__body .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .wrapper .header .header__body .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .wrapper .header .header__body .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .wrapper .header .header__body .header__burger:before, .wrapper .header .header__body .header__burger:after {
    content: "";
    display: block;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
/*     -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; */
  }
  .wrapper .header .header__body .header__burger:before {
    top: 0;
  }
  .wrapper .header .header__body .header__burger:after {
    bottom: 0;
  }
  .wrapper .header .header__body .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
/*     -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s; */
  }
  .wrapper .header .header__body .header__menu {
    position: fixed;
    top: 0%;
    right: -100%;
    width: 50%;
    height: 100%;
    background-color: #0f4979b6;
    padding: 25% 0px 0px 0px;
/*     -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s; */
    overflow: auto;
  }
  .wrapper .header .header__body .header__menu.active {
    right: 0;
  }
  .wrapper .header .header__body .header__menu .header__list {
    display: block;
    text-align: center;
  }
  .wrapper .header .header__body .header__menu .header__list li {
    margin: 50px 0px 20px 0px;
  }
  .wrapper .header .header__body .header__menu .header__list li:first-child {
    margin: 0px 0px 0px 0px;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__link:before {
    content: "";
  }
  .wrapper .header .header__body .header__menu .header__list li .header__btn2 {
    display: block;
    font-size: 2.6em;
    color: #fff;
    z-index: 2;
    padding: 12px 47px;
    background-color: #f9b217;
    border-radius: 10px;
    font-weight: 700;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border: 2px solid #fff;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__btn2:hover {
    background-color: #0f4a79;
  }
  .wrapper .header .header__body .header__btn {
    display: none;
  }
  .wrapper .header.sticky .header__burger:before, .wrapper .header.sticky .header__burger:after {
    content: "";
    background-color: #0f4a79;
  }
  .wrapper .header.sticky .header__burger span {
    background-color: #0f4a79;
  }
  .wrapper .header.sticky .header__menu .header__list li .header__link {
    color: #fff;
  }
  .wrapper .hero .hero__body .hero__title {
    margin-top: -69vh;
  }
  .wrapper .about .about__row .about__col_5 {
    width: 100%;
  }
  .wrapper .about .about__row .about__col_7 {
    width: 100%;
  }
  .wrapper .about .about__row .about__col_7 .about__item .about__image img {
    margin-top: 30px;
  }
  .wrapper .what .what__row {
    margin: 0px -15px;
  }
  .wrapper .what .what__row .what__col_4 {
    padding: 0px 15px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon {
    position: absolute;
    top: -65px;
    width: 130px;
    height: 130px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__title {
    margin-top: 90px;
  }
  .wrapper .learn .learn__text {
    padding-top: 70px;
    padding-bottom: 35px;
  }
  .wrapper .learn .learn__row {
    margin: 0px -15px;
  }
  .wrapper .learn .learn__row .learn__col_4 {
    padding: 0px 15px;
  }
  .wrapper .learn .learn__row .learn__col_4 .learn__item .learn__body2::before {
    content: "";
  }
  .wrapper .home .home__text {
    padding-top: 70px;
  }
  .wrapper .game .game__text {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .wrapper .house .house__text {
    padding-top: 70px;
    padding-bottom: 20px;
  }
  .wrapper .house .house__subtext {
    padding-bottom: 20px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__carousel img {
    height: 587px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__dubai {
    height: 587px;
  }
  .wrapper .form form button {
    padding: 14px 50px;
  }
  .wrapper .contact {
    padding-top: 90px;
  }
}

@media (max-width: 991px) {
  body {
    font-size: 8px;
  }
  .wrapper .header:before {
    content: "";
  }
  .wrapper .header .header__body {
    height: 110px;
  }
  .wrapper .header .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__link:before {
    content: "";
  }
  .wrapper .header.sticky {
    height: 100px;
  }
  .wrapper .header.sticky .header__body {
    margin-top: -2.5px;
  }
  .wrapper .hero .hero__body .hero__title {
    margin-top: -68vh;
  }
  .wrapper .hero .hero__body .hero__subtitle {
    -webkit-text-stroke: 1px #000;
  }
  .wrapper .hero .hero__body .hero__btn {
    padding: 15px 66px;
  }
  .wrapper .about {
    padding: 130px 0 120px;
  }
  .wrapper .what .what__row .what__col_4 {
    width: 50%;
    margin: 40px 0px 45px 0px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon {
    top: -65px;
    width: 130px;
    height: 130px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon .icon {
    font-size: 55px;
    position: relative;
    top: 32.5px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__title {
    margin-top: 80px;
  }
  .wrapper .learn .learn__text {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .wrapper .learn .learn__row .learn__col_4 {
    width: 50%;
  }
  .wrapper .learn .learn__row .learn__col_4 .learn__item .learn__body2::before {
    content: "";
  }
  .wrapper .home .home__text {
    padding-top: 60px;
  }
  .wrapper .game .game__text {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .wrapper .game .game__container .game__controls .game__btn {
    padding: 13px;
  }
  .wrapper .house .house__text {
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .wrapper .house .house__subtext {
    padding-bottom: 15px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__carousel img {
    height: 527px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__dubai {
    height: 527px;
  }
  .wrapper .form {
    padding-bottom: 140px;
  }
  .wrapper .form .form__text {
    padding-top: 140px;
    padding-bottom: 70px;
  }
  .wrapper .form form label input {
    display: block;
    width: 100%;
  }
  .wrapper .form form button {
    display: block;
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  .wrapper .contact {
    padding-top: 80px;
  }
  .wrapper .contact .contact__row .contact__col_4 {
    width: 50%;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 7px;
  }
  .wrapper .header:before {
    content: "";
  }
  .wrapper .header .header__body {
    height: 100px;
  }
  .wrapper .header .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
            flex: 0 0 90px;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__link:before {
    content: "";
  }
  .wrapper .header.sticky {
    height: 90px;
  }
  .wrapper .header.sticky .header__body {
    margin-top: -7.5px;
  }
  .wrapper .hero .hero__body .hero__title {
    margin-top: -67vh;
  }
  .wrapper .hero .hero__body .hero__subtitle {
    -webkit-text-stroke: 1px #000;
  }
  .wrapper .hero .hero__body .hero__btn {
    padding: 13px 53px;
  }
  .wrapper .about {
    padding: 115px 0 105px;
  }
  .wrapper .what .what__row .what__col_4 {
    width: 100%;
    margin: 40px 0px 40px 0px;
  }
  .wrapper .what .what__row .what__col_4:last-child {
    margin: 40px 0px 10px 0px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon {
    top: -60px;
    width: 120px;
    height: 120px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon .icon {
    font-size: 50px;
    position: relative;
    top: 30px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__title {
    margin-top: 70px;
  }
  .wrapper .learn .learn__text {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  .wrapper .learn .learn__row .learn__col_4 {
    width: 100%;
    margin-top: 20px;
  }
  .wrapper .learn .learn__row .learn__col_4 .learn__item .learn__body2::before {
    content: "";
  }
  .wrapper .home .home__text {
    padding-top: 50px;
  }
  .wrapper .game .game__text {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .wrapper .game .game__container .game__controls .game__btn {
    padding: 11px;
  }
  .wrapper .house .house__text {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .wrapper .house .house__subtext {
    padding-bottom: 10px;
  }
  .wrapper .house .house__row .house__col_6 {
    width: 100%;
  }
  .wrapper .house .house__row .house__col_6 .house__item {
    margin-top: 20px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__carousel img {
    height: 467px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__dubai {
    height: 467px;
  }
  .wrapper .form {
    padding-bottom: 120px;
  }
  .wrapper .form .form__text {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .wrapper .contact {
    padding-top: 70px;
  }
  .wrapper .contact .contact__row {
    margin: 40px 0px 0px 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 {
    width: 100%;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item {
    padding: 0px 0 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links .contact__link {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__map {
    padding: 30px 0px 30px;
  }
}

@media (max-width: 575px) {
  body {
    font-size: 6px;
  }
  .wrapper .header:before {
    content: "";
  }
  .wrapper .header .header__body {
    height: 90px;
  }
  .wrapper .header .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__link:before {
    content: "";
  }
  .wrapper .header.sticky {
    height: 80px;
  }
  .wrapper .header.sticky .header__body {
    margin-top: -12.5px;
  }
  .wrapper .hero .hero__body .hero__title {
    margin-top: -66vh;
  }
  .wrapper .hero .hero__body .hero__subtitle {
    -webkit-text-stroke: 1px #000;
  }
  .wrapper .hero .hero__body .hero__btn {
    padding: 11px 40px;
  }
  .wrapper .about {
    padding: 100px 0 90px;
  }
  .wrapper .what .what__row .what__col_4 {
    margin: 40px 0px 35px 0px;
  }
  .wrapper .what .what__row .what__col_4:last-child {
    margin: 40px 0px 10px 0px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon {
    top: -55px;
    width: 110px;
    height: 110px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon .icon {
    font-size: 45px;
    position: relative;
    top: 27.5px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__title {
    margin-top: 60px;
  }
  .wrapper .learn .learn__text {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .wrapper .learn .learn__row .learn__col_4 .learn__item .learn__body2::before {
    content: "";
  }
  .wrapper .home .home__text {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .wrapper .game .game__text {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .wrapper .game .game__container .game__controls .game__btn {
    padding: 9px;
  }
  .wrapper .house .house__text {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .wrapper .house .house__subtext {
    padding-bottom: 5px;
  }
  .wrapper .house .house__row .house__col_6 {
    width: 100%;
  }
  .wrapper .house .house__row .house__col_6 .house__item {
    margin-top: 20px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__carousel img {
    height: 407px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__dubai {
    height: 407px;
  }
  .wrapper .form {
    padding-bottom: 100px;
  }
  .wrapper .form .form__text {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .wrapper .contact {
    padding-top: 60px;
  }
  .wrapper .contact .contact__row {
    margin: 35px 0px 0px 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item {
    padding: 0px 0 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links .contact__link {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__map {
    height: 250px;
    padding: 25px 0px 25px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 5px;
  }
  .wrapper .header:before {
    content: "";
  }
  .wrapper .header .header__body {
    height: 80px;
  }
  .wrapper .header .header__body .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }
  .wrapper .header .header__body .header__menu .header__list li .header__link:before {
    content: "";
  }
  .wrapper .header.sticky {
    height: 70px;
  }
  .wrapper .header.sticky .header__body {
    margin-top: -17.5px;
  }
  .wrapper .hero .hero__body .hero__title {
    margin-top: -65vh;
  }
  .wrapper .hero .hero__body .hero__subtitle {
    -webkit-text-stroke: 1px #000;
  }
  .wrapper .hero .hero__body .hero__btn {
    padding: 9px 37px;
  }
  .wrapper .about {
    padding: 85px 0 75px;
  }
  .wrapper .what .what__row .what__col_4 {
    margin: 40px 0px 30px 0px;
  }
  .wrapper .what .what__row .what__col_4:last-child {
    margin: 40px 0px 10px 0px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon {
    top: -50px;
    width: 100px;
    height: 100px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__icon .icon {
    font-size: 40px;
    position: relative;
    top: 25px;
  }
  .wrapper .what .what__row .what__col_4 .what__item .what__body .what__title {
    margin-top: 50px;
  }
  .wrapper .learn .learn__text {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .wrapper .learn .learn__row .learn__col_4 .learn__item .learn__body2::before {
    content: "";
  }
  .wrapper .home .home__text {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .wrapper .game .game__text {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .wrapper .game .game__container .game__controls .game__btn {
    padding: 7px;
  }
  .wrapper .house .house__text {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .wrapper .house .house__subtext {
    padding-bottom: 0px;
  }
  .wrapper .house .house__row .house__col_6 {
    width: 100%;
  }
  .wrapper .house .house__row .house__col_6 .house__item {
    margin-top: 20px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__carousel img {
    height: 347px;
  }
  .wrapper .house .house__row .house__col_6 .house__item .house__body .house__dubai {
    height: 347px;
  }
  .wrapper .form {
    padding-bottom: 80px;
  }
  .wrapper .form .form__text {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .wrapper .contact {
    padding-top: 50px;
  }
  .wrapper .contact .contact__row {
    margin: 30px 0px 0px 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item {
    padding: 0px 0 0px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__links .contact__link {
    margin-top: 10px;
  }
  .wrapper .contact .contact__row .contact__col_4 .contact__item .contact__body .contact__map {
    padding: 20px 0px 20px;
  }
}
